<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>
  <body>
   <nav class="navbar navbar-default navbar-static-top">
     <ul class="nav navbar-nav">
       <li> <a class="navbar-brand" href="{%url "index" %}">BRAND</a>   </li>
       <li><a class="navrbar-link"href="{%url "admin:index" %}"">Admin</a></li>
       <li><a class="navrbar-link"href="{%url "MyApp:other" %}"">Other</a></li>
     </ul>
   </nav>

   <div class="container">
    {% block body_block%}
    <!--Anything outside this will be inhereited-->
    {% endblock %}
   </div>

  </body>
</html>
